extends partials/layout.pug

block content
  div.user-profile

    img.user-img(src=currentUser.image)
    h1 #{currentUser.first_name} #{currentUser.last_name}
    h3 #{currentUser.city} #{currentUser.state}
    p #{currentUser.bio}

    if currentUser.available
      p Available
    else
      p Not available

    h5 Interests: #{currentUser.interests}
    h5 Aversions: #{currentUser.aversions}

  div.profile-feed

    each user in users
      if user.id !== currentUser.id
        .card(id=user.id)
          .card-img-sect
            a(href=`/profile/${user.id}`): img.card-img(src=user.image)
          .card-info-sec
            h3 #{user.first_name} #{user.last_name}
            h4 #{user.city}, #{user.state}
            if user.available
              p Available
            else
              p Not available
          div.card-like-sect
            if likedUserIds.includes(user.id)
              a.icon
                img.icon-heart(src=`/img/heart-red.png` alt="icon")
            else
              a.icon
                img.icon-like(src=`/img/heart-white.png` alt="icon")


